.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* banner part starts */

.banner {
    width: 1440px;
    height: 652px;
    margin: auto;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-pic {
    width: 240.28px;
    height: 240px;
}

.banner-title {
    color: #0D1321;
    font-size: 42px;
    font-weight: 800;
    margin: 20px 250px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;

}

.btn {
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* banner part ends */

/* my-web part starts */
.my-web {
    border-radius: 16px;
    padding: 80px;
    background: #0D132105;
}

.heading {
    color: #0D1321;
    font-size: 32px;
    text-align: center;
}

.description{
    color: #0D1321;
    font-size: 16px;
    text-align: center;
    margin: 0 150px 0 150px;
}

/* .web-1 {
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 546px;
} */
 .web-1{
    max-width: 846px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 0 300px 0 200px;

 }
.web-1-1{
    max-width: 607px;
    margin-bottom: 10px;
    /* text-align: left;  */
}
.web-greetings{
    font-size: 15px;
    width: 250px;
    margin-bottom: 0;
}
.web-description{
    width: 300px;
    font size: 16px;
}
.web-img{
    max-width: 540px;
}

.vedio{
    margin: 40px 0 20px 450px;
}

/* my current target */
.current{
    display: flex;
    gap: 24px;
    gap: 20px;
    padding: 40px;
}
.target-html{
    width: 364px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    
}
.target-css{
    width: 364px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    box-shadow: ;
}
.target-js{
    width: 364px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    box-shadow: ;
}
.target-sec-button{
    color: rgb(13, 19, 33);
    font-size: 16px;
    text-decoration-line: underline;
    border: none;
}